{
    margin: 0; /* Establece el margen exterior en 0 */
    padding: 0; /* Establece el relleno interior en 0 */
    box-sizing: border-box; /* Utiliza el modelo de caja de borde */
    font-family: 'Poppins', sans-serif; /* Establece la fuente del texto como 'Poppins' o una fuente sans-serif */
}

body {
    color: #ededed; /* Establece el color del texto en #ededed */
}

.header {
    font-family: 'Poppins', sans-serif;
    position: fixed; /* Establece la posición fija */
    top: 0; /* Establece la posición superior en 0 */
    left: 0; /* Establece la posición izquierda en 0 */
    width: 100%; /* Establece el ancho en 100% */
    padding: 20px 10%; /* Establece el relleno de 20px en la parte superior e inferior y 10% en los lados izquierdo y derecho */
    background: transparent; /* Establece el fondo como transparente */
    display: flex; /* Establece el contenedor como flex */
    justify-content: space-between; /* Distribuye el espacio entre los elementos del contenedor */
    align-items: center; /* Centra los elementos verticalmente en el contenedor */
    z-index: 100; /* Establece el índice Z en 100 para que se muestre por encima de otros elementos */
}

.logo {
    font-family: 'Poppins', sans-serif;
    position: relative; /* Establece la posición relativa */
    font-size: 25px; /* Establece el tamaño de fuente en 25px */
    color: #fff; /* Establece el color del texto en #fff (blanco) */
    text-decoration: none; /* Elimina la decoración de texto (por defecto, subrayado) */
    font-weight: 600; /* Establece el grosor de la fuente en 600 (negrita) */
}

.navbar a{
    font-family: 'Poppins', sans-serif;
    display: inline-block; /* Establece el elemento como en línea y en bloque */
    font-size: 25px; /* Establece el tamaño de fuente en 25px */
    color: #fff; /* Establece el color del texto en #fff (blanco) */
    text-decoration: none; /* Elimina la decoración de texto (por defecto, subrayado) */
    font-weight: 500; /* Establece el grosor de la fuente en 500 (medio) */
    margin-left: 35px; /* Establece un margen izquierdo de 35px */
    transition: .3s; /* Establece una transición de 0.3 segundos para los cambios de estilo */
}

.navbar a:hover {
    color: #9203dc; /* Cambia el color del texto a #f1c40f (amarillo) al pasar el ratón por encima */

}

.home {
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(resources/background.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0 ; 
}

.home-content {
    max-width: 600px;
}


.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}

.home content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}

.home content p {
    font-size: 20px;
}

.home-sci a{
    display: inline flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #9203dc;
    border-radius: 50%;
    font-size: 20px;
    color: #9203dc;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

.home-sci a:hover {
    background-color: #9203dc;
    color: #081b29;
    box-shadow: 0 0 20px #9203dc;
}

.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #9203dc;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

.btn-box:hover {
    box-shadow: 0 0 5px #9203dc, 0 0 25px #9203dc, 0 0 200px #9203dc;
}
 
